# Contract deploy script vars for contracts/scripts/deploy.sh

# Required
SOROBAN_NETWORK=testnet
SOROBAN_ADMIN_ADDRESS=GXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Set one signer source
SOROBAN_SOURCE_ALIAS=alice
# SOROBAN_SOURCE_ACCOUNT=GXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Network mode
SOROBAN_NETWORK_ONLY=1

# Required when SOROBAN_NETWORK_ONLY is not 1
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
SOROBAN_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

# Optional
# SKIP_CONTRACT_OPTIMIZE=1
